<!doctype html>
<html lang="en">
<head>
    <title>Mobile statistic</title>
    <link href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
        html, body {
            width: 99%;
            height: 95%;
        }
        #container {
            width: 1500px;
            height: 700px;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename = 'css/dashboard.css') }}" rel="stylesheet">
</head>
{% block body %}{% endblock %}
<header class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <form class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" method="post">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Mobile URL:</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"
               name="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <button class="btn btn-secondary" type="submit">Send</button>
            </li>
        </ul>
    </form>
</header>
<p></p>
{% block graph %} {% endblock %}

</body>
</html>
