{% extends 'Base.html' %}
{% block body %}
    <body class="my-cass-2">
{% endblock %}
{% block graph %}
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div id="container"></div>
                <p></p>
                <h2>{{ name }}</h2>
                <p></p>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            {% for point in first_series %}
                                <th>{{ point.x }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody class="table-hover">
                        {% for shop in series %}
                            <tr>
                                <td><a href="{{ http_shops[shop.name] }}">{{ shop.name }} </a></td>
                                {% for p in shop.data %}
                                    <td>{{ p.value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </main>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/anychart-bundle.min.js') }}"></script>
    <script>
        anychart.onDocumentReady(function () {
            var chart = anychart.fromJson({{chartData|safe}});
            var yScale = chart.yScale();
            yScale.ticks().interval(100);
            chart.draw();
        });

    </script>
{% endblock %}